/* Medium Layout: 1280px. */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .single_screen_slide {
        padding: 48px 30px 52px 30px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .single_screen_slide {
        padding: 48px 30px 52px 30px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #mainmenu ul.nav.navbar-nav li a {
        padding: 20px 10px;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .mainmenu-area {
        background: #1e5799;
        background: -webkit-linear-gradient(left, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
        background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#16c9f6', GradientType=1);
    }

        .mainmenu-area .navbar-toggle {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: 1px solid #fff;
            border-radius: 1px;
            padding: 10px;
            -webkit-transition: 0.3s;
            transition: 0.3s
        }

            .mainmenu-area .navbar-toggle .icon-bar {
                background-color: green;
                -webkit-transition: 0.3s;
                transition: 0.3s
            }

            .mainmenu-area .navbar-toggle:focus,
            .mainmenu-area .navbar-toggle:hover {
                background-color: white;
            }

                .mainmenu-area .navbar-toggle:focus .icon-bar,
                .mainmenu-area .navbar-toggle:hover .icon-bar {
                    background-color: green;
                }

                .well.well-lg {
                    padding: 30px;
                }

    #mainmenu ul.nav.navbar-nav li a {
        text-align: center;
    }

    .comment-list .media-left {
        display: inline-block;
        padding: 20px 20px 10px;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
}
