


/*-----------------
1. Google font
------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*-------------------
2. Theme Default CSS
--------------------*/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #303030;
}

    .btn.focus,
    .btn:focus,
    .btn:hover,
    input:focus,
    button:focus,
    a:focus,
    a:hover {
        text-decoration: none;
        outline: none;
        color: inherit;
    }

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
    line-height: 1.3 !important;
}

h1 {
    font-size: 36px;
    color: green;
}

h3 {
    color: green;
}

    p span,
    h1 span,
    h2 span,
    h3 span,
    h4 span,
    h5 span,
    h6 span {
        color: green;
    }

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: black;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

#maps {
    width: 100%;
    height: 500px;
}

/*added by raza*/

.appdescription {
    font-size: 16px;
}

.height80, .well img {
    max-height: 80px !important;
}

.height50 {
    max-height: 50px !important;
}

.border {
    border-radius: 2px;
    border: 1px solid #eee;
    padding: 10px;
}

.navbar-brand {
    padding: 0px !important
}

.iconLoader {
    height: 25px !important;
    right: -5px !important;
    bottom: 0px !important;
    width: 25px !important;
    background-image: url('../images/icons/loader.png');
}

.social-menu a {
    color: green !important
}

    .social-menu a:hover {
        color: white !important
    }

.lrg-logo {
    height: 55px;
}

.sml-logo {
    height: 50px;
}